# Firebase Configuration
FIREBASE_DATABASE_URL="https://attendance-logging-syste-5540c-default-rtdb.europe-west1.firebasedatabase.app"
FIREBASE_PROJECT_ID="attendance-logging-syste-5540c"
FIREBASE_API_KEY="AIzaSyB-DK6trmKoPfbUvrCBTfzonLWh4dU_N28"

# Server Configuration
PORT=3000
NODE_ENV= production
